<a href="https://colab.research.google.com/github/Ka2ntu/Machine-Learning/blob/main/DataFrame_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Creating DataFrames** 

This code is creating a 3X 5 Dataframe. 
The dataframe contains 15 cells


*   3 Rows 
*   5 Colums
The rows contain names of Cars and the columns contain their attributes: Make,Color, Type, Model, Year.


1.   The first code creates an array
2.   List item

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#Create and populate a 3x5 numpy array 
my_data = np.array([     ["Toyota","Blue","SUV","Prado",2001],
    ["BMW", "Black","SUV","X3",2006],
    ["Merc","Silver","Sedan","C200",2020]],dtype=object 
    )
#create column names
column_names = ['Make','Color','Type','Model','Year']
#Creating dataframe
my_df=pd.DataFrame(data=my_data,columns=column_names)
print(my_df)

     Make   Color   Type  Model  Year
0  Toyota    Blue    SUV  Prado  2001
1     BMW   Black    SUV     X3  2006
2    Merc  Silver  Sedan   C200  2020

In [ ]:
#adding new columns to the dataframe and assigning values
my_df["status"]=["sold","available",'available']

print(my_df)

     Make   Color   Type  Model  Year     status
0  Toyota    Blue    SUV  Prado  2001       sold
1     BMW   Black    SUV     X3  2006  available
2    Merc  Silver  Sedan   C200  2020  available

In [ ]:
#Show specific rows
print("Vehicles that are available").m
print(my_df[1:3],'\n')

Vehicles that are available
   Make   Color   Type Model  Year     status
1   BMW   Black    SUV    X3  2006  available
2  Merc  Silver  Sedan  C200  2020  available